fastapi[standard]==0.121.3
pydantic==2.12.4
sqlalchemy[asyncio]==2.0.23
asyncpg==0.29.0
python-multipart==0.0.20
uvicorn[standard]==0.24.0
PyJWT==2.10.1
pwdlib[argon2]==0.2.0
pydantic-settings==2.1.0
python-dotenv==1.0.0
sqlmodel==0.0.27
tensorflow==2.20.0
opencv-python==4.12.0.88
gdown==5.2.0